Project/pipeline/pl_bronze_layer_selectiva.json
{
	"name": "pl_bronze_layer_selectiva",
	"properties": {
		"activities": [
			{
				"name": "Get directory list in bronze layer",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze_layer_container_selectiva",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Bronze tables already exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get directory list in bronze layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Get directory list in bronze layer').output.childItems), 8)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "BZ directories and bz schema creation",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Bronze/00-UnityCatalog+bz-layer+schemaCreation"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Create empty delta tables at bronze dirs",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "BZ directories and bz schema creation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Bronze/01-Schema-extraction-for-EXPECTED-tables"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Populate Bronze tables",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Create empty delta tables at bronze dirs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Bronze/02-Populate Bronze layer tables"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Populate Tables",
							"description": "Populate the bronze layer tables with the ingested data   ",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Bronze/02-Populate Bronze layer tables"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-24T01:22:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}