Project/pipeline/pl_transform_silver.json
{
	"name": "pl_transform_silver",
	"properties": {
		"activities": [
			{
				"name": "Get silver tables",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_silver_layer_home",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Silver tables exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get silver tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Get silver tables').output.childItems), 8)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "configure Silver",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Silver/00-configure-silver"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Populate Silver Tables",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "configure Silver",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Silver/01-transform"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Populate Silver",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/agampaul.s@outlook.com/Silver/01-transform"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDBx_selectiva_project",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-25T22:49:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}